#SAMPLE FILE FOR DEVELOPEMENT
SPRING_JWT_SECRET_KEY="NFMX+YgtHwdIg6uhPn1O7jpDp5YWDOL1D6WZla8MIz8="
#allow frontend url
SPRING_CORS_ALLOWED_ORIGINS=http://localhost:5173
#set postgres password for liquibase (same as in compose.yaml)
POSTGRES_PASSWORD=password
#use dev for running project locally
SPRING_PROFILES_ACTIVE=dev